.output {
    padding: 0 5px;
    background-color: white;
    border: black inset 5px;
    border-radius: 5px;
    width: 370px;
    margin: 0 auto 10px auto;
}

.output > h1 {
    margin: 0;
    text-align: right;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 360px;
}